/* Write your CSS here */

.main-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.even-odd-counter-container {
  background: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 10px;
  border-radius: 10px;
  width: 350px;
}
.button {
  border-radius: 7px;
  height: 30px;
  width: 70px;
  cursor: pointer;
  border-radius: 10px;
  border: 0px;
}

.para {
  color: #0f172a;
  font-family: Roboto;
}

.note-para {
  color: #1e293b;
  font-family: Roboto;
  font-size: 10px;
}
